section.section.home
	header
		h1
			span.name Matisse Vrignaud
			small.activity sound & interaction
		span.language
			abbr(title="English") EN
			a(href="fr/index.html")
				abbr(title="Français") FR