article.section.projects.project1
	header.project-details
		time(datetime='2015-03') March 2015
		h2 Broadcaster<br>
			span Interest points feeder
		p.lead
			| Quisque eu diam at tellus auctor euismod. Ut dapibus, justo et iaculis dictum,
			| felis justo condimentum ipsum, in auctor sem erat non lectus.
		a.read-more(href="#") Read more...

	.tags
		span.tags1 sound - interaction - graphism