/* Libraries and helpers */

@import (css) "../libs/normalize.css/normalize.css";
@import (css) "../libs/fullpage.js/jquery.fullPage.css";

@import "imports/fonts";
@import "imports/sprite";
@import "imports/utilities";

.svg-common() {
	background: url(../img/sprite.svg) no-repeat;
	background-size: 141px 132px;
}


/* Grid */
/* 5% | (5.575% | 2.1%) * 11 | 5.575% | 5% */

@margin : 5%;
@gutter : 2.1%;
@column : 5.575%;


/* Colors */

@colorA : white;
@colorB : black;

@color1-a : white; /* OLD COLOR : 414753 */ /* H2 SMALL COLOR */
@color1-b : darken(desaturate(red, 20%), 30%); /* CURRENT TEXT COLOR */

@color2-a : white; /* OLD COLOR : 414753 */ /* H2 SMALL COLOR */
@color2-b : darken(desaturate(blue, 20%), 30%); /* CURRENT TEXT COLOR */

@color3-a : white; /* OLD COLOR : 414753 */ /* H2 SMALL COLOR */
@color3-b : darken(desaturate(green, 40%), 5%); /* CURRENT TEXT COLOR */


/* Fonts */

@header-text : lekton, 'Helvetica Neue', Helvetica, Arial, sans-serif;
@current-text : aller, 'Helvetica Neue', Helvetica, Arial, sans-serif;

@font-size-xs : 12px;
@font-size-s : 13px;
@font-size-m : 18px;
@font-size-l : 30px;

.font-rendering() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-smooth: always;
}


/* General styles */

body {
	font: normal @font-size-s @current-text;
	color: @colorB;
}

h1, h2, h3, h4, h5 {
	font: bold @font-size-m @header-text;
	margin: 0;
}

h2 {
	font-size: @font-size-l;
}

h3, h4, h5 {
	font-weight: normal;
}

a {
	color: @colorB;
}

.section {
	padding-top: 59px;
}


/* Styles imports */

@import "imports/home";
@import "imports/nav";
@import "imports/projects";
@import "imports/others";