/* Libraries and helpers */

@import (less) "../libs/normalize.css/normalize.css";
@import (less) "../libs/fullpage.js/jquery.fullPage.css";
@import (less) "../libs/photoswipe/dist/photoswipe.css";
@import "libs/photoswipe";
@import "libs/video-js";

@import "utilities/fonts";
@import "utilities/sprite";
@import "utilities/mixins";
@import "utilities/variables";


/* Styles imports */

@import "partials/home";
@import "partials/nav";
@import "partials/majors";
@import "partials/major-projects";
@import "partials/minors";
@import "partials/minor-projects";
@import "partials/about";


/* Responsive */

@import "responsive/1024";
@import "responsive/768";
@import "responsive/480";
@import "responsive/320";
@import "responsive/mobile";


/* Dev tools */

@import "utilities/grid";
// @import "utilities/media-queries";

.grid {
	display: none;
}

// .media-queries {
// 	display: none;
// }

//safari 9 dirty translate fix
.force-translate {
	transform: translate3d(0,0,0)!important;
}

.majors footer .back-to-site-button {
	display: none;
}