doctype html
html(lang="en")
	head
		include includes/head
	body
		include includes/nav

		#fullpage
			include includes/home
			include includes/project1
			include includes/project2
			include includes/project3
			include includes/others

		include includes/photoswipe
		include includes/scripts