
.loader(aria-hidden="true")
	p !{loader.loading}

noscript.nojs-message(aria-hidden="true")
	p !{loader.noscript}

<!--[if lt IE 8 ]>
div(class="outdated" aria-hidden="true")
	p !{loader.outdated}
<![endif]-->