.section.others
	section.other-projects-container
		h2 Some other projects
		.normal-projects-column
		.normal-projects-column
			- var minorProjects = projects.minors.normal;
			include minor_projects
		.little-projects-column
			- var minorProjects = projects.minors.little;
			include minor_projects