- var main = data.main;

- var ui = data.ui;

- var projects = data.projects;
- var majorProjects = projects.majors;

- var storedProject;
- for (project in majorProjects) {
- 	if (project === articleName) {
- 		eval('storedProject = majorProjects.' + project + ';');
- 	}
- }
- majorProjects = {};
- eval('majorProjects.' + articleName + ' = storedProject;');

- var template = 'article';

- var lang = null;
each language in languages
	if language.abbr === languages.selected
		- lang = language.abbr;

doctype html
html(lang=lang)
	head
		include partials/head
		+head()
			link(rel="stylesheet" type="text/css" href="/css/article.css")
	body
		include partials/majors