- var main = data.main;

- var ui = data.ui;
- var nav = ui.nav;
- var about = ui.about;
- var photoswipe = ui.photoswipe;

- var projects = data.projects;
- var majorProjects = projects.majors;

- var template = 'layout';

- var lang = null;
each language in languages
	if language.abbr === languages.selected
		- lang = language.abbr;

doctype html
html(lang=lang)
	head
		include partials/head
		+head()
	body
		.media-queries
		include partials/loader
		include partials/nav

		#fullpage
			include partials/home
			include partials/majors
			include partials/minors

		include partials/about

		include partials/photoswipe
		include partials/scripts
		include helpers/grid