- var main = data.main;
- var projects = data.projects;
- var ui = data.ui;

doctype html
html(lang="#{lang}")
	head
		include partials/head
	body
		include partials/nav

		#fullpage
			include partials/home
			include partials/major_projects
			include partials/others

		include partials/photoswipe
		include partials/scripts