- var main = data.main;

- var ui = data.ui;
- var nav = ui.nav;
- var loader = ui.loader;
- var about = ui.about;
- var photoswipe = ui.photoswipe;

- var projects = data.projects;
- var majorProjects = projects.majors;

- var template = 'layout';

- var lang = null;
each language in languages
	if language.abbr === languages.selected
		- lang = language.abbr;

doctype html
html(lang=lang)
	head
		include partials/head
	body(itemscope itemtype="http://schema.org/WebPage")
		include partials/loader

		#fullpage
			include partials/home
			include partials/nav
			include partials/majors
			include partials/minors
			include partials/about

		.majors-understudy(aria-hidden="true")

		include partials/photoswipe

		include helpers/media-queries
		include helpers/grid

		- var stylesheetsInBodyTag = true;
		include partials/styles
		include partials/scripts