doctype html
html(lang="en")
	head
		include /partials/head
	body
		include /partials/nav

		#fullpage
			include /partials/home
			include /partials/project1
			include /partials/project2
			include /partials/project3
			include /partials/others

		include /partials/photoswipe
		include /partials/scripts