section.about {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	color: @colorA;

	background: fade(@colorB, 70%);

	.about-container {
		.calculate-width(11, 10, false, false);
		width: @width;
		position: relative;
		float: right;
		margin-right: @margin;

		h2 {
			.calculate-width(2, 1, 11, 10);
			width: @width;
			position: relative;
			top: -11px;
			float: left;
			line-height: 36px;
			font-weight: normal;
		}
	}

	.icon-close {
		position: relative;
		top: -5px;
		float: left;
		margin-left: @margin;
		cursor: pointer;
	}
}

.about .about-content {
	.calculate-width(9, 8, 11, 10);
	width: @width;
	float: right;
	border-top: 1px solid @colorA;
	padding-top: 114px;
	font: normal @font-size-l @heading-text;

	h3 {
		font: normal @font-size-l @heading-text;
		margin-bottom: 12px;
	}
}

.about .contact-form {
	.calculate-width(5, 4, 9, 8);
	width: @width;
	float: left;

	h3 {
		padding-left: 15px;
	}

	input, textarea, button {
		font: normal @font-size-s @current-text;
		float: left;
		clear: both;
		box-sizing: border-box;
		border: none;
		margin-bottom: 21px;
	}

	input, textarea {
		padding: 0 15px;
		color: @colorB;
		transition: border-left 0.2s ease-out 0.1s, background 0.4s ease;
		border-left: 0px solid transparent;

		&:focus {
			outline: none;
			border-left: 5px solid fade(@colorB, 40%);

			&.invalid {
				border-left: 5px solid @color-error;								
			}
		}

		&.invalid {
			border-left: 5px solid darken(fade(@color-error, 70%), 15%);
		}
	}

	input {
		.calculate-width(4, 3, 5, 4);
		width: @width;
		padding-top: 2px;
		height: 30px;
	}

	textarea {
		resize: none;
		width: 100%;
		padding-top: 8px;
		height: 210px;
	}

	button {
		position: relative;
		padding: 0;
		height: 30px;
		line-height: 32px;
		min-width: 60px;
		.calculate-width(1, 0, 5, 4);
		width: @width;
		background: fade(@colorA, 20%);
		transition: width 0.3s ease-out;

		&:active {
			background: fade(@colorB, 20%);
		}

		.button-text {
			transition: opacity 0.3s ease-out 0.1s;
			opacity: 1;
		}

		.mail-loader {
			position: absolute;
			left: 0;
			top: 0;
			display: inline;
			width: 100%;
			height: 100%;
			text-align: center;
			opacity: 0;
			transition: opacity 0.2s ease-in;

			&:after {
				display: inline-block;
				content: "";
				position: relative;
				bottom: 4px;
				left: -3px;
				width: 6px;
				height: 6px;
				border-radius: 100% 0 0 0;
				border-top: 1px solid fade(white, 80%);
				border-left: 1px solid fade(white, 80%);
				transform: translateZ(0);
				transform-origin: 100% 100%;
				animation: sending-mail 0.8s infinite linear;
			}
		}
	}

	label span {
		.assistive-hide()
	}

	::-webkit-input-placeholder {
	   color: fade(@colorB, 50%);
	}

	:-moz-placeholder {
	   color: fade(@colorB, 50%);
	}

	::-moz-placeholder {
	   color: fade(@colorB, 50%);
	}

	:-ms-input-placeholder {
	   color: fade(@colorB, 50%);
	}

	.result-box {
		float: right;
		.calculate-width(4, 3, 5, 4);
		width: @width;
	}

	.result-message {
		display: none;
		float: left;
		clear: both;
		padding: 3px 7px 2px 9px;
		margin: 5px 0;
		line-height: 30px;
		white-space: nowrap;
		font: normal @font-size-s @current-text;
		opacity: 0;

		&.success {
			background: fade(@color-success, 40%);
		}

		&.error {
			background: fade(@color-error, 40%);
		}

		&.failure {
			background: fade(@color-failure, 40%);
		}

		&.show {
			opacity: 1;
			display: inline-block;
			animation: show-message 0.5s ease-out forwards;
		}
	}

	&.loading {
		textarea, input {
			background: lighten(@colorB, 85%);
		}

		textarea, input, button {
			pointer-events: none;
		}

		button {
			.button-text {
				opacity: 0;
				transition: opacity 0.2s ease-in;
			}

			.mail-loader {
				opacity: 1;
				transition: opacity 0.3s ease-out 0.2s;
			}
		}
	}
}

@keyframes sending-mail {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes show-message {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.about .social-links, .about .resume {
	text-align: center;

	& {
		.calculate-width(2, 1, 9, 8);
		width: @width;
	} & {
		.calculate-width(1, 1, 9, 8);
		margin-right: @width;
	}
	
	float: right;

	a {
		margin: 3px;
		display: inline-block;
	}
}

.about .resume {
	margin-top: 99px;
}