header {
	display: block;
	width: 100% - (2 * @margin);
	margin: 0 auto;

	h1 {
		display: inline-block;

		.name {
			line-height: 9px;
			display: inline-block;
			float: left;
		}

		.activity {
			font-weight: normal;
			font-size: @font-size-s;
			line-height: 6px;
			margin-top: 13px;
			display: inline-block;
			float: left;
			clear: both;
		}
	}

	.language {
		display: inline-block;
		float: right;
		font: @font-size-s @heading-text;
		line-height: 12px;

		abbr {
			border-bottom: none;
			margin-left: 6px;
		}
	}
}