.majors {
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;

	.cover-image {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			position: relative;
			transform: translate3d(0,0,0);
			backface-visibility: hidden;
			perspective: 1000;
			transform-style: preserve-3d;
			pointer-events: none;
			position: absolute;
			top: -9999%;
			bottom: -9999%;
			left: -9999%;
			right: -9999%;
			margin: auto;
			min-width: 100%;
			min-height: 100%;
		}
	}

	header {
		height: 100%;
		width: 100%;
		margin-bottom: 52px;
	}

	&.opened {
		overflow: scroll;

		.cover-image:after {
			position: absolute;
			bottom: 0;
			content: "";
			display: block;
			width: 100%;
			border-bottom: 1px solid fade(@colorB, 10%);
		}
	}
}

.on-majors .majors {
	.project-details, .tags {
		.assistive-hide();
	}
}

.majors-understudy {
	backface-visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	left: 0;

	.major-understudy {
		width: 100%;
		height: 100%;
	}
}

.on-majors .majors-understudy {
	display: block;
}

.major-understudy.active {
	.project-details, .tags {
		z-index: 4;
	}
}

.on-majors .major-understudy:not(.active) .project-details {
	background: transparent;

	.read-more {
		.assistive-hide();
	}
}

.majors .project-details, .majors-understudy .project-details {
	.calculate-width(3, 4, false, false);
	top: 59px;
	width: @width;
	left: @margin + @column;
	padding: 29px @gutter 25px @gutter;
	z-index: 3;
	position: absolute;
	box-sizing: border-box;
	backface-visibility: hidden;
	background: fade(@colorB, 50%);
	transition: width 0.2s ease-out;
	transform: translate3d(0,0,0);

	h2, time, .lead, .read-more {
		float: left;
		clear: both;
	}

	time {
		backface-visibility: hidden;
		display: inline-block;
		font: @font-size-xs @heading-text;
		min-width: 80px;
		height: 17px;
		text-align: center;
		border-radius: 2px;
		line-height: 20px;
		transform-origin: 50% 50% 9px;
		border: 1px solid @colorA;
		color: @colorA;
	}

	h2 {
		backface-visibility: hidden;
		line-height: 36px;
		margin-top: 20px;
		color: @colorA;
		display: inline-block;
		
		.subtitle {
			backface-visibility: hidden;
			font-weight: normal;
			margin: 0;
			clear: both;
			float: left;
			display: inline-block;
			font-size: @font-size-xl;
		}
	}

	.lead, .read-more {
		color: @colorA;
	}

	.lead {
		margin: 20px 0 25px 0;
		line-height: 22px;
		backface-visibility: hidden;
	}

	.read-more {
		display: block;
	}

}

.majors .tags, .majors-understudy .tags {
	.calculate-width(7, 6, false, false);
	top: 59px;
	width: @width;
	z-index: 2;
	position: absolute;
	right: @margin;
	font: @font-size-xs @heading-text;
	color: @colorA;
	transition: width 0.2s ease-out;
	transform: translate3d(0,0,0);

	ul.tag-list {
		& {
			.calculate-width(3, 2, 7, 6);
			width: @width;
		} & {
			.calculate-width(1, 1, 7, 6);
			margin: 0 @width 0 0;
		}

		display: inline-block;
		line-height: 7px;
		text-align: center;
		float: right;
		transform-origin: 50% 50% 32px;
		backface-visibility: hidden;
		list-style: none;
		padding: 0;

		li {
			display: inline;

			strong {
				font-weight: normal;
			}

			&:not(:last-child):after {
				content: " - ";
			}
		}
	}

	&:before, &:after {
		position: absolute;
		content: "";
		display: block;
		height: 0px;
		top: 0;
		border-bottom: 1px solid @colorA;
	}

	&:before {
		.calculate-width(3, 3, 7, 6);
		width: @width;
		left: 0;
	}

	&:after {
		.calculate-width(1, 1, 7, 6);
		width: @width;
		right: 0;
	}
}

.major-project1 .project-details, .major-understudy1 .project-details {
	h2 .subtitle {
		color: @color1-a;
	}

	.lead-in-article {
		color: @color1-b
	}
}

.major-project2 .project-details, .major-understudy2 .project-details {
	h2 .subtitle {
		color: @color2-a;
	}

	.lead-in-article {
		color: @color2-b
	}
}

.major-project3 .project-details, .major-understudy3 .project-details {
	h2 .subtitle {
		color: @color3-a;
	}

	.lead-in-article {
		color: @color3-b
	}
}