section.minors {
	background: @colorA;
	max-height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	
	.minor-projects-container {
		.calculate-width(11, 10, false, false);
		width: @width;
		float: right;
		margin-right: @margin;
		position: relative;
		margin-bottom: 28px;

		h2 {
			.calculate-width(3, 2, 11, 10);
			width: @width;
			position: relative;
			top: -11px;
			float: left;
			line-height: 36px;
			font-weight: normal;
		}
	}


	.little-minor-projects-column {
		.calculate-width(3, 2, 11, 10);
		width: @width;
		float: left;
		margin-top: 10px;
	}

	.normal-minor-projects-column {
		.calculate-width(8, 8, 11, 10);
		width: @width;
		float: right;
		column-count: 2;
		column-width: 50%;
		column-gap: 0;
	}

	&:not(.on-minors) {
		overflow: hidden;
	}
}
