nav.on-home.nav
	svg.nav-toggle-button(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 9" style="enable-background:new 0 0 21 9;" xml:space="preserve")
		polygon(points="20,1 10.5,8 1,1")
	.nav-links
		a.link(href="#home") Home
		span.link.worklink Work
		.worktab
			a.link(href="#project1") Broadcaster
			a.link(href="#project2") Feed Me Crystals
			a.link(href="#project3") Wine
			a.link(href="#other") Other Projects
		span.about
			a.link(href="#about") About