.section.others
	section.other-projects-container
		h2 Some other projects
		.normal-projects-column
		.normal-projects-column
		.little-projects-column
			article.other-project
				.article-media.gallery(itemscope='' itemtype='http://schema.org/ImageGallery')
					figure(itemprop='associatedMedia' itemscope='' itemtype='http://schema.org/ImageObject')
						a(href='https://placehold.it/1060x720.jpg' data-size="1260x720" itemprop='contentUrl')
							img.thumbnail(src="https://placehold.it/270x180.jpg" alt="little image")
							.gallery-toggle
								.icon-gallery
								.photos-indicator #[span.number-of-photos 2] #[span.label photos available]
							figcaption(itemprop='caption description') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptas doloribus maiores est illum similique et minima, tenetur aliquam eos nisi. Sunt placeat illo repudiandae amet accusamus libero tenetur quae.Ullam nulla dicta eius, itaque soluta optio expedita ipsam repellat, et obcaecati non perferendis sed quaerat vitae distinctio praesentium illum alias placeat minima numquam quisquam excepturi eum magnam autem ex?Fugit blanditiis cumque aliquam accusantium, possimus soluta ea molestias eveniet illum totam voluptates earum. Recusandae voluptate quam numquam debitis ipsum nisi sit dolorem, temporibus cupiditate. At quasi, dolorem voluptatem autem.Beatae eius aliquid, ad in labore, cum reiciendis, alias accusamus eos deserunt quaerat dolore ratione temporibus obcaecati reprehenderit id eveniet! Nisi, aspernatur? Odio blanditiis ut aperiam saepe optio veritatis commodi.
					figure(itemprop='associatedMedia' itemscope='' itemtype='http://schema.org/ImageObject')
						a(href='https://placehold.it/1080x720.jpg' data-size="1280x720" itemprop='contentUrl')
							figcaption(itemprop='caption description') Long image description 2
				.article-media.player
					iframe(scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/148589564&auto_play=false&hide_related=true&theme_color=FFFFFF&show_comments=false&show_user=false&show_reposts=false&visual=true&download=false&sharing=false")
				.article-media.text
					header
						h3 Partons OST
						time(datetime='2014-06') June 2014
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia impedit voluptatem minus sit, necessitatibus alias eos, cumque nam, eveniet tempore rem sed aliquid quasi, voluptate. Sit facilis sequi, ducimus ratione.