article.section.projects.project3
	header.project-details
		time(datetime='2015-03') May 2015
		h2 Wine
			small Vine activity watcher
		p.lead
			| Quisque eu diam at tellus auctor euismod. Ut dapibus, justo et iaculis dictum,
			| felis justo condimentum ipsum, in auctor sem erat non lectus.
		a(href="#") Read more...

	.tags
		span interaction - object - service