article.section.projects.project2
	header.project-details
		time(datetime='2015-01') January 2015
		h2 Feed Me Crystals<br>
			span Holographic arena game
		p.lead
			| Quisque eu diam at tellus auctor euismod. Ut dapibus, justo et iaculis dictum,
			| felis justo condimentum ipsum, in auctor sem erat non lectus.
		a(href="#") Read more...

	.tags
		span.tags2 sound - interaction - 3D - graphism