<!-- build:js js/script.js -->

// Libraries
script(type="text/javascript" src="libs/jquery/dist/jquery.js")
script(type="text/javascript" src="libs/fullpage.js/jquery.fullPage.js")
script(type="text/javascript" src="libs/velocity/velocity.js")

// Scripts
script(type="text/javascript" src="js/utilities.js")
script(type="text/javascript" src="js/elements.js")
script(type="text/javascript" src="js/animation.js")
script(type="text/javascript" src="js/pages.js")
script(type="text/javascript" src="js/toggles.js")
script(type="text/javascript" src="js/fontfix.js")

<!-- endbuild -->