<!-- build:js js/script.js -->

// Libraries
script(type="text/javascript" src="libs/jquery/dist/jquery.js")
script(type="text/javascript" src="libs/fullpage.js/jquery.fullPage.js")
script(type="text/javascript" src="libs/velocity/velocity.js")
script(type="text/javascript" src="libs/photoswipe/dist/photoswipe.js")
script(type="text/javascript" src="js/gallery-ui.js")

// Scripts
script(type="text/javascript" src="js/elements.js")
script(type="text/javascript" src="js/utilities.js")

script(type="text/javascript" src="js/nav.js")
script(type="text/javascript" src="js/projects.js")
script(type="text/javascript" src="js/app.js")

script(type="text/javascript" src="js/gallery.js")

script(type="text/javascript" src="js/toggles.js")

<!-- endbuild -->