.svg-common() {
	background: url("../img/sprite.svg") no-repeat;
}

.icon-close {
	.svg-common();
	background-position: 55.645161290322584% 94.78260869565217%;
	width: 17px;
	height: 17px;
}

.icon-download-resume {
	.svg-common();
	background-position: 0 72.94117647058823%;
	width: 47px;
	height: 47px;
}

.icon-facebook-share {
	.svg-common();
	background-position: 100% 32%;
	width: 32px;
	height: 32px;
}

.icon-gallery {
	.svg-common();
	background-position: 91.59663865546219% 76.3157894736842%;
	width: 22px;
	height: 18px;
}

.icon-github {
	.svg-common();
	background-position: 0 100%;
	width: 23px;
	height: 23px;
}

.icon-link {
	.svg-common();
	background-position: 48.06201550387597% 39.166666666666664%;
	width: 12px;
	height: 12px;
}

.icon-linkedin {
	.svg-common();
	background-position: 19.491525423728813% 100%;
	width: 23px;
	height: 23px;
}

.icon-play-sound {
	.svg-common();
	background-position: 50% 72.94117647058823%;
	width: 47px;
	height: 47px;
}

.icon-play-video {
	.svg-common();
	background-position: 0 0;
	width: 62px;
	height: 62px;
}

.icon-soundcloud {
	.svg-common();
	background-position: 38.983050847457626% 100%;
	width: 23px;
	height: 23px;
}

.icon-stop-sound {
	.svg-common();
	background-position: 65.95744680851064% 0;
	width: 47px;
	height: 47px;
}

.icon-twitter {
	.svg-common();
	background-position: 92.37288135593221% 58.71559633027523%;
	width: 23px;
	height: 23px;
}

.icon-twitter-share {
	.svg-common();
	background-position: 100% 0;
	width: 32px;
	height: 32px;
}

